@model Contact
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Szczegóły</h1>
<p>Imię: @Model.Name</p>
<p>Email: @Model.Email</p>
<p>Numer telefonu: @Model.Phone</p>
<p>Data urodzenia: @Model.Birth</p>
